# Virtual environments
.venv/
venv/
env/

# Python caches
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Streamlit cache
.streamlit/cache/

# Tooling caches
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Logs
*.log

# IDE / Editor
.vscode/
.idea/

# OS / Misc
.DS_Store
Thumbs.db
test.mp3

# Jupyter
.ipynb_checkpoints/

# Environment variables / secrets
.env
.env.*
!.env.example
interviews/
*.sqlite3
